


<div class="container">
<h1>About</h1>
<div class="row">
<div class="left col-xs-10 med-col-6">
	<p>About LEFT info goes here</p>
<div class="right med-col-6">
	<p>About right info goes here</p>

</div>

</div>


</div>
</div>
